
<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Page d'accueil -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

 

    <!-- Gestion des erreurs -->
    <error-page>
        <error-code>404</error-code>
        <location>/views/errors/404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/views/errors/error.jsp</location>
    </error-page>

    <!-- Paramètres globaux -->
    <context-param>
        <param-name>applicationName</param-name>
        <param-value>EwinFramework</param-value>
    </context-param>

    <!-- Temps d'expiration des sessions -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>

